<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
  width="70"
  alt="Facture Logo"
  src="https://s3.eu-central-1.amazonaws.com/startizy/uploads/startizy/legal_contract/small_image/4/679974.svg">
  <span >Telephone Bill </span>
  <div class="spacer"></div>
  <button class="button1">log out </button>

</div>

      <!-- Leftside bar -->

      <div id="tm-sidebar" class="tm-sidebar"> 
        <nav class="tm-nav">
            <div>
                <ul id="tm-main-nav">
                    <li class="nav-item">                                
                        <a  class="nav-link current" routerLink="/Customers">
                            <div class="triangle-right"></div>
                          <!--  <form #f="ngForm" (ngSubmit)="onSearch(f.value)" >
                                  
                            </form>-->Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link"   routerLink="/Contracts" >
                            <div class="triangle-right"></div>
                            Contracts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="/Services">
                            <div class="triangle-right"></div>
                            Services
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="/Offers">
                            <div class="triangle-right"></div>
                            Offers
                        </a>
                    </li>
                    <li class="nav-item">
                      <a  class="nav-link" routerLink="/Bills">
                          <div class="triangle-right"></div>
                          Bills 
                      </a>
                  </li>
                </ul>
            </div>

        </nav>
    </div><!-- Customers section -->

<div class="#" >
    <!-- main box --> 
   <section id="Customers" class="tm-section" >
    <div >

    <table class="container" >
        <thead>
          <tr>
            <th><h1>Client id</h1></th>
            <th><h1>family name</h1></th>
            <th><h1>last name</h1></th>
            <th><h1>Adress</h1></th>
            <th><h1>E-mail</h1></th>
            <th><h1>Type</h1></th>
            <th><h1>Details</h1></th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor ="let item of listOfCustomer">

            <td   >{{item.client_id}} </td>
            <td>{{item.nom}}</td>
           <td>{{item.prenom}}</td>
            <td>{{item.adresse}}</td>
            <td>{{item.email}}</td>
            <td>{{item.type}}</td>
            <td>

                <button type="submit" class="button"  (click) ="detail(item.client_id)" > click  </button>

            </td>             
          </tr>        
    
        </tbody>
      </table>
    </div>
    


    </section>
   <!-- Rightside box -->

   <aside id="rightCol4" class="rightCol" >
    <div id="pagetext-container"  *ngIf ="customerdetails" >
      <span class="left">Client id  : <br></span>
      <span class="right">{{customerdetails.client_id}} <br></span>
      <span class="left">Family Name : <br></span>
      <span class="right">{{customerdetails.nom}} <br></span>
      <span class="left">Last name : <br></span>
      <span class="right">{{customerdetails.prenom}}<br></span>
      <span class="left">Adress : <br></span>
      <span class="right">{{customerdetails.adresse}}<br></span>
      <span class="left">E-mail : <br></span>
      <span class="right">{{customerdetails.email}}<br></span>
      <span class="left">Type: <br></span>
      <span class="right">{{customerdetails.type}}<br></span>

      
   </div>




   </aside>

</div>
